SYSTEM REQUIREMENTS FOR: Half-Life Deathmatch
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended: 2.4 GHz Processor, 512MB RAM, DirectX 9 level graphics card, Windows XP, Mouse, Keyboard, Internet Connection

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:19:37
Source: Fetched from Steam Web API
