SYSTEM REQUIREMENTS FOR: Crysis
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS: Windows 10 64 bitProcessor: Intel(R) Core(TM) i5-3470Memory: 8 GB RAMGraphics: NVIDIA GeForce GTX 1060DirectX: Version 11Storage: 54 GB available spaceSound Card: DirectX compatible audio card

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:OS: Windows 10 64-Bit latest updateProcessor: Intel(R) Core(TM) i5-8600 or higherMemory: 16 GB RAMGraphics: NVIDIA GeForce GTX 1660 TIDirectX: Version 11Storage: 54 GB available spaceSound Card: DirectX compatible audio card

----------------------------------------------------------------------
Created on: 2026-08-03 20:17:12
Source: Fetched from Steam Web API
