SYSTEM REQUIREMENTS FOR: The Talos Principle
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: 64-bit Windows 10 (version 2004 or newer)Processor: 4 core CPU @ 2.5 GHz (AMD Ryzen 5, Intel core i3/i5)Memory: 8 GB RAMGraphics: 4 GB VRAM; Radeon RX 470, GeForce GTX 970, Intel Arc A580DirectX: Version 12Storage: 75 GB available spaceAdditional Notes: Intel integrated GPUs are not supported. SSD recommended.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: 64-bit Windows 10 (version 2004 or newer)Processor: 6 or 8 core CPU @ 3.0 GHz (AMD Ryzen 7, Intel core i5/i7)Memory: 16 GB RAMGraphics: 8+ GB VRAM; Radeon RX 6800, GeForce RTX 3070, Intel Arc B580DirectX: Version 12Storage: 75 GB available spaceAdditional Notes: Intel integrated GPUs are not supported. SSD required.

----------------------------------------------------------------------
Created on: 2026-08-03 20:24:28
Source: Fetched from Steam Web API
