SYSTEM REQUIREMENTS FOR: Splinter Cell Blacklist
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS *:Originally released for Windows 7, the game can be played on Windows 10 and Windows 11 OS	Processor:2.53 GHz Intel® Core™2 Duo E6400 or 2.80 GHz AMD Athlon™ 64 X2 5600+ or better	Memory:2 GB RAM	Graphics:512 MB DirectX® 10–compliant with Shader Model 4.0 or higher	DirectX®:9	Hard Drive:25 GB HD space	Sound:DirectX 10–compliant DirectX 9.0c–compliant	Additional:Peripherals Supported: Windows-compatible keyboard, mouse, headset, optional controller (Xbox 360 Controller for Windows recommended). Requires UPLAY account.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Processor:2.66 GHz Intel® Core™2 Quad Q8400 or 3.00 GHz AMD Phenom™ II X4 940 or better	Memory:4 GB RAM	DirectX®:11	Hard Drive:25 GB HD space	Sound:(5.1 surround sound recommended)	Other Requirements:Broadband Internet connection	Additional:Peripherals Supported: Windows-compatible keyboard, mouse, headset, optional controller (Xbox 360 Controller for Windows recommended). Requires UPLAY account..

----------------------------------------------------------------------
Created on: 2026-08-03 20:23:21
Source: Fetched from Steam Web API
