SYSTEM REQUIREMENTS FOR: Dragon Ball FighterZ
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS *: Windows 7/8/10 (64-bit OS required)Processor: AMD FX-4350, 4.2 GHz / Intel Core i5-3470, 3.20 GHzMemory: 4 GB RAMGraphics: Radeon HD 6870, 1 GB / GeForce GTX 650 Ti, 1 GBDirectX: Version 11Network: Broadband Internet connectionStorage: 6 GB available spaceSound Card: DirectX compatible soundcard or onboard chipset

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS *: Windows 7/8/10 (64-bit OS required)Processor: AMD Ryzen 5 1400, 3.2 GHz / Intel Core i7-3770, 3.40 GHzMemory: 8 GB RAMGraphics: Radeon HD 7870, 2 GB / GeForce GTX 660, 2 GBDirectX: Version 11Network: Broadband Internet connectionStorage: 6 GB available spaceSound Card: DirectX compatible soundcard or onboard chipset

----------------------------------------------------------------------
Created on: 2026-08-03 20:18:05
Source: Fetched from Steam Web API
