SYSTEM REQUIREMENTS FOR: Jujutsu Kaisen Cursed Clash
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10Processor: Intel Core i3-2125 / AMD Phenom II X4 965Memory: 4 GB RAMGraphics: Nvidia GeForce GTX 660 Ti / AMD Radeon RX 560 / Intel Arc A380DirectX: Version 11Storage: 10 GB available spaceAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;Low&quot;. Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 11Processor: Intel Core i5-2300 / AMD A8-6600KMemory: 8 GB RAMGraphics: Nvidia GeForce GTX 1660 Super / AMD Radeon RX 480 / Intel Arc A750DirectX: Version 11Storage: 10 GB available spaceAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;High&quot;.  Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required. - Windows 10 (Version 1809 or later) and a 4GB VRAM GPU (graphics board or video card) are required for DirectX 12 API.

----------------------------------------------------------------------
Created on: 2026-08-03 20:20:11
Source: Fetched from Steam Web API
