SYSTEM REQUIREMENTS FOR: Farcry 3
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS *:Windows XP, Windows Vista	Processor:Intel Core®2 Duo E6700 @ 2.6 GHz or AMD Athlon64 X2 6000+ @ 3.0Ghz or better	Memory:4 GB RAM	Graphics:512MB Video RAM (1GB Video RAM), DirectX9c (DirectX11) Shader Model 3.0 (Shader Model 5.0)	DirectX®:9.0c	Hard Drive:15 GB HD space	Sound:DirectX Compatible  (Recommended Surround Sound 5.1 capable)	Other Requirements:Broadband Internet connection	Additional:*Supported Video Cards at Time of Release: AMD Radeon™ HD 2900 / 3000 / 4000 / 5000 / 6000 / 7000 series, NVIDIA® GeForce® 8800 GTX / 9 / 200 / 400 / 500 / 600 series. Laptop versions of these cards may work, but are not supported. These chipsets are the only ones that will run this game. For the most up-to-date minimum requirement listings, please visit the FAQ on our support website at .Requires a UPlay account

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
GPU: Recommended:Memory:4 GB RAM	Graphics:512MB Video RAM (1GB Video RAM), DirectX9c (DirectX11) Shader Model 3.0 (Shader Model 5.0)	DirectX®:11	Hard Drive:15 GB HD space	Sound:DirectX Compatible  (Recommended Surround Sound 5.1 capable)	Other Requirements:Broadband Internet connection	Additional:*Supported Video Cards at Time of Release: AMD Radeon™ HD 2900 / 3000 / 4000 / 5000 / 6000 / 7000 series, NVIDIA® GeForce® 8800 GTX / 9 / 200 / 400 / 500 / 600 series. Laptop versions of these cards may work, but are not supported. These chipsets are the only ones that will run this game. For the most up-to-date minimum requirement listings, please visit the FAQ on our support website at .Requires a UPlay account

----------------------------------------------------------------------
Created on: 2026-08-03 20:18:37
Source: Fetched from Steam Web API
