SYSTEM REQUIREMENTS FOR: Dying Light
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: MINIMUM:OS *: Windows® 7 64-bit / Windows® 8 64-bit / Windows® 8.1 64-bit	Processor: Intel® Core™ i5-2500 @3.3 GHz / AMD FX-8320 @3.5 GHz	Memory: 4 GB RAM DDR3	Hard Drive: 40 GB free space	Graphics: NVIDIA® GeForce® GTX 560 / AMD Radeon™ HD 6870 (1GB VRAM)        DirectX®: Version 11        Sound: DirectX® compatible        Additional Notes: Laptop versions of graphics cards may work but are NOT officially supported.Windows-compatible keyboard, mouse, optional controller (Xbox 360 Controller for Windows recommended)

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: RECOMMENDED:OS *: Windows® 7 64-bit / Windows® 8 64-bit / Windows® 8.1 64-bit	Processor: Intel® Core™ i5-4670K @3.4 GHz / AMD FX-8350 @4.0 GHz 	Memory: 8 GB RAM DDR3	Hard Drive: 40 GB free space	Graphics: NVIDIA® GeForce® GTX 780 / AMD Radeon™ R9 290 (2GB VRAM)        DirectX®: Version 11        Sound: DirectX® compatible        Additional Notes: Laptop versions of graphics cards may work but are NOT officially supported.Windows-compatible keyboard, mouse, optional controller (Xbox 360 Controller for Windows recommended)

----------------------------------------------------------------------
Created on: 2026-08-03 20:18:08
Source: Fetched from Steam Web API
