SYSTEM REQUIREMENTS FOR: Castlevania Lords of Shadow
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS *:Windows XP – Service Pack 3	Processor:2.4Ghz Intel Core 2 Duo	Memory:1 GB RAM	Graphics:Direct X9 compatible video card 512Mb Ram	DirectX®:9.0	Hard Drive:15 GB HD space	Other Requirements:Broadband Internet connection	Additional:Keyboard or Xinput compatible Joypad for control

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:OS *:Windows 7 or higher	Processor:Quad Core CPU	Memory:2 GB RAM	Graphics:Direct X11 compatible video card with 1024Mb Ram	DirectX®:11	Hard Drive:15 GB HD space	Other Requirements:Broadband Internet connection	Additional:Keyboard or Xinput compatible Joypad for control

----------------------------------------------------------------------
Created on: 2026-08-03 20:16:42
Source: Fetched from Steam Web API
