SYSTEM REQUIREMENTS FOR: Splinter Cell Conviction
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:					OS *:Originally released for Windows 7, the game can be played on Windows 10 and Windows 11 OS						Processor: 1.8 GHz Intel Core2 Duo or 2.4 GHz AMD Athlon X2 64						Memory: 1.5 GB Windows XP / 2 GB Windows Vista, Windows 7						Graphics: 256 MB DirectX 9.0c–compliant video card (512 MB recommended) (see supported list*)						DirectX®: DirectX 9.0c						Hard Drive: 10 GB						Sound: DirectX 9.0c–compliant sound card						Peripherals Supported: Mouse, keyboard, headset, 12-button gamepads with analog sticks						Internet Connection: Broadband Internet connection					*Supported Video Cards at Time of Release:					NVIDIA GeForce 7800 / 7900 / 8 / 9 / GTX series					ATI RADEON X1800 / X1900 / HD 2000 / HD 4000 / HD 5000 series					ATI HD 3000 NOT supported at time of release.					Laptop versions of these cards may work but are NOT supported. These chipsets are the only ones that will run this game.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:23:24
Source: Fetched from Steam Web API
