SYSTEM REQUIREMENTS FOR: Farcry 4
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS: Windows 10 (64-bit)Processor: 2.6 GHz Intel® Core™ i5-750 or 3.2 GHz AMD Phenom™ II X4 955Memory: 4 GB RAMGraphics: NVIDIA GeForce GTX 460 or AMD Radeon HD5850 (1 GB VRAM)DirectX: Version 11Network: Broadband Internet connectionStorage: 30 GB available spaceSound Card: DirectX-compatible (5.1 surround sound recommended)Additional Notes: Windows-compatible keyboard, mouse, optional controller (Xbox 360 Controller for Windows recommended)

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:OS: Windows 10 (64-bit)Processor: 2.5 GHz Intel® Core™ i5-2400S or 4.0 GHz AMD FX-8350 or betterMemory: 8 GB RAMGraphics: NVIDIA GeForce GTX 680 or AMD Radeon R9 290X or better (2 GB VRAM)DirectX: Version 11Network: Broadband Internet connectionStorage: 30 GB available spaceSound Card: DirectX-compatible (5.1 surround sound recommended)Additional Notes: Supported video cards at the time of release: NVIDIA GeForce GTX 460 or better, GeForce GTX 700 series; AMD Radeon HD5850 or better, Radeon R9 series. Note: Laptop versions of these cards may work but are NOT officially supported.

----------------------------------------------------------------------
Created on: 2026-08-03 20:18:38
Source: Fetched from Steam Web API
