SYSTEM REQUIREMENTS FOR: Conan Exiles
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10 64bitProcessor: AMD Ryzen 5 3600 or Intel Core i5-10400FMemory: 8 GB RAMGraphics: NVIDIA GeForce GTX 1650 or Radeon RX 580DirectX: Version 11Network: Broadband Internet connectionStorage: 115 GB available space

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 11 64bitProcessor: AMD Ryzen 7 5600X or Intel Core i7-11700FMemory: 16 GB RAMGraphics: NVIDIA GeForce RTX 3060 or AMD Radeon RX 6700 or Intel Arc A750DirectX: Version 11Network: Broadband Internet connectionStorage: 115 GB available space

----------------------------------------------------------------------
Created on: 2026-08-03 20:16:54
Source: Fetched from Steam Web API
