SYSTEM REQUIREMENTS FOR: Hogwarts Legacy
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: 64-bit Windows 10Processor: Intel Core i5-6600 (3.3Ghz) or AMD Ryzen 5 1400 (3.2Ghz)Memory: 16 GB RAMGraphics: NVIDIA GeForce GTX 960 4GB or AMD Radeon RX 470 4GBDirectX: Version 12Storage: 85 GB available spaceAdditional Notes: SSD (Preferred), HDD (Supported), 720p/30 fps, Low Quality Settings

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: 64-bit Windows 10Processor: Intel Core i7-8700 (3.2Ghz) or AMD Ryzen 5 3600 (3.6 Ghz)Memory: 16 GB RAMGraphics: NVIDIA GeForce 1080 Ti or AMD Radeon RX 5700 XT or INTEL Arc A770DirectX: Version 12Storage: 85 GB available spaceAdditional Notes: SSD, 1080p/60 fps, High Quality Settings

----------------------------------------------------------------------
Created on: 2026-08-03 20:19:53
Source: Fetched from Steam Web API
