SYSTEM REQUIREMENTS FOR: Star Citizen
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10Processor: Requires a 64-bit processor and operating systemMemory: 4 GB RAMGraphics: DirectX 11 compatible GPUDirectX: Version 11Storage: 2 GB available space

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating system

----------------------------------------------------------------------
Created on: 2026-08-03 20:23:31
Source: Fetched from Steam Web API
