SYSTEM REQUIREMENTS FOR: Splinter Cell Chaos Theory
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Supported OS: Originally released for Windows 7, the game can be played on Windows 10 and Windows 11 OS					Processor: Intel Pentium III or AMD Athlon, 1.4 GHz (Pentium IV or Athlon 2.2 GHz recommended)					System Memory: 256 MB of RAM or above (512 MB recommended)					Video Card: 64 MB DirectX 9.0c compliant graphics card (128 MB recommended) 					Sound Card: DirectX 9.0c compliant sound card (EAX 2.0 or higher recommended)					DirectX Version: DirectX® version 9.0c or higher					Hard Disk: 4 GB available hard disk space					Supported Peripherals: Windows compatible mouse and keyboard, joystick for Solo and Co-op modes					Multiplay: Broadband with 64 Kbps data transfer upload rate (128 kbps recommended)					Note: For the most up-to-date minimum requirement listings, please visit the FAQ for this game on our support website at: .

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:23:22
Source: Fetched from Steam Web API
