SYSTEM REQUIREMENTS FOR: Tales of Arise
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10 (64-bit Only)Processor: Intel Core i5-2300 or AMD Ryzen 3 1200Memory: 8 GB RAMGraphics: GeForce GTX 760 or Radeon HD 7950DirectX: Version 11Storage: 45 GB available spaceSound Card: DirectX compatible soundcard or onboard chipsetAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;Low&quot;. Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10 (64-bit Only)Processor: Intel Core i5-4590 or AMD FX-8350Memory: 8 GB RAMGraphics: GeForce GTX 970 or Radeon R9 390DirectX: Version 11Storage: 45 GB available spaceSound Card: DirectX compatible soundcard or onboard chipsetAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;High&quot;.  Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required. - Windows 10 (Version 1809 or later) and a 4GB VRAM GPU (graphics board or video card) are required for DirectX 12 API.

----------------------------------------------------------------------
Created on: 2026-08-03 20:23:56
Source: Fetched from Steam Web API
