SYSTEM REQUIREMENTS FOR: Grim Fandango
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:OS *: Windows Vista or LaterProcessor: Intel® Core™ 2 Duo 2.4 GHz, AMD Athlon™ X2 2.8 GHz, or higherMemory: 4 GB RAMGraphics: ATI Radeon HD 4650 / NVIDIA GeForce GT 220 / Intel HD 4000 Graphics, or equivalentStorage: 6000 MB available spaceSound Card: Windows Compatible CardAdditional Notes: GPU that supports OpenGL 3.3 or higher

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:19:25
Source: Fetched from Steam Web API
