SYSTEM REQUIREMENTS FOR: Borderlands 2
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
GPU: Минимальные:ОС: Windows XP с пакетом обновления 3Процессор: двухъядерный с тактовой частотой 2,4 ГГцОперативная память: 2 ГБ (XP),  2 ГБ (Vista)Жесткий диск: 13 ГБ свободного местаВидеопамять: 256 МБВидеокарта: NVIDIA GeForce 8500 или ATI Radeon HD 2600Звуковая карта: совместимая с DirectX 9.0cДругие требования: при первичной установке необходимо единоразовое подключение к Интернету для аутентификации в Steam; требуется наличие установленного ПО (есть в дистрибутиве продукта), такого как: клиент Steam, DirectX 9, Microsoft .NET 4 Framework, пакеты библиотек Visual C++ 2005, Visual C++ 2008 и Visual C++ 2010, а также драйверы для процессоров AMD (только для XP, и в случае наличия процессора AMD)

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
GPU: Рекомендуемые:ОС: Windows XP с пакетом обновления 3, Vista и 7Процессор: четырехъядерный с тактовой частотой 2,3 ГГцОперативная память: 2 ГБЖесткий диск: 20 ГБ свободного местаВидеопамять: 512 МБВидеокарта: NVIDIA GeForce GTX 560 или ATI Radeon HD 5850Звуковая карта: совместимая с DirectX 9.0cДругие требования: при первичной установке необходимо единоразовое подключение к Интернету для аутентификации в Steam; требуется наличие установленного ПО (есть в дистрибутиве продукта), такого как: клиент Steam, DirectX 9, Microsoft .NET 4 Framework, пакеты библиотек Visual C++ 2005, Visual C++ 2008 и Visual C++ 2010, а также драйверы для процессоров AMD (только для XP, и в случае наличия процессора AMD)

----------------------------------------------------------------------
Created on: 2026-08-03 20:16:32
Source: Fetched from Steam Web API
