SYSTEM REQUIREMENTS FOR: Mirrors Edge Catalyst
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS *: Windows 7 64-Bit (use the latest Service Pack)Processor: Intel i3-3250 / AMD FX-6350. (Note: Mirror's Edge Catalyst requires at least 4 logical cores to run)Memory: 6 GB RAMGraphics: NVIDIA GeForce® GTX 650 Ti 2GB or better / AMD Radeon™ R9 270x or betterStorage: 25 GB available space

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10 64-Bit (use the latest Service Pack)Processor: Intel Core i7-3770 at 3.4 GHz / AMD FX-8350 at 4.0 GHzMemory: 16 GB RAMGraphics: NVIDIA GeForce® GTX 970 4GB or better / AMD Radeon™ R9 280x 3GB or betterStorage: 25 GB available space

----------------------------------------------------------------------
Created on: 2026-08-03 20:21:08
Source: Fetched from Steam Web API
