SYSTEM REQUIREMENTS FOR: Halo Infinite
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10 RS5 x64Processor: AMD Ryzen 5 1600 or Intel i5-4440Memory: 8 GB RAMGraphics: AMD RX 570 or Nvidia GTX 1050 TiDirectX: Version 12Storage: 50 GB available space

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10 19H2 x64Processor: AMD Ryzen 7 3700X or Intel i7-9700kMemory: 16 GB RAMGraphics: Radeon RX 5700 XT or Nvidia RTX 2070DirectX: Version 12Storage: 50 GB available space

----------------------------------------------------------------------
Created on: 2026-08-03 20:19:43
Source: Fetched from Steam Web API
