SYSTEM REQUIREMENTS FOR: Anniversary Tomb Raider
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
GPU: Minimum: Microsoft Windows Vista, 2000, or XP, Pentium 3 1.4Ghz or Athlon XP 1500+, 4GB free space, 100% DirectX 9.0c compatible 64 MB 3D Accelerated Card with TnL (GeForce 3TI / Radeon 9 series), 512MB RAM (Windows Vista) or 256MB RAM (Windows 2000/XP), Microsoft Windows 2000/XP/Vista compatible sound card (100% DirectX 9.0c -compatible), 100% Windows 2000/XP/Vista compatible mouse and keyboard					Recommended: Microsoft Windows XP, Vista, Pentium 4 3.0Ghz or Athlon 64 3000+, Microsoft Windows XP/Vista compatible sound card (100% DirectX 9.0c -compatible), 1GB RAM, 100% DirectX 9.0c compatible 64MB 3D Accelerated Card with Pixel Shader 2.0 (GeForce 6000 series / Radeon X series)

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:15:32
Source: Fetched from Steam Web API
