SYSTEM REQUIREMENTS FOR: Ratchet Clank
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10 (version 1909 or higher)Processor: Intel Core i3-8100 or AMD Ryzen 3 3100Memory: 8 GB RAMGraphics: NVIDIA GeForce GTX 960 or AMD Radeon RX 470Storage: 75 GB available spaceAdditional Notes: SSD Recommended

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10 (version 1909 or higher)Processor: Intel Core i5-8400 or AMD Ryzen 5 3600Memory: 16 GB RAMGraphics: NVIDIA GeForce RTX 2060 or AMD Radeon RX 5700Storage: 75 GB available spaceAdditional Notes: SSD Required

----------------------------------------------------------------------
Created on: 2026-08-03 20:22:24
Source: Fetched from Steam Web API
