SYSTEM REQUIREMENTS FOR: Code Vein
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS *: Windows 7 SP1 or Windows 10 (64-bit)Processor: Intel Core i5-2300Memory: 6 GB RAMGraphics: GeForce GTX 760 or Radeon HD 7850DirectX: Version 11Network: Broadband Internet connectionStorage: 35 GB available spaceSound Card: DirectX compatible soundcard or onboard chipsetAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;Low&quot;. Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS *: Windows 7 SP1 or Windows 10 (64-bit)Processor: Intel Core i5-7400 or AMD Ryzen 3 2200GMemory: 8 GB RAMGraphics: GeForce GTX 960 or Radeon R9 380XDirectX: Version 11Network: Broadband Internet connectionStorage: 35 GB available spaceSound Card: DirectX compatible soundcard or onboard chipsetAdditional Notes: Estimated performance: 1080p/60fps with graphics settings at &quot;High&quot;.  Framerate might drop in graphics-intensive scenes.  - 64-bit processor and operating system are required. - Windows 10 (Version 1809 or later) and a 4GB VRAM GPU (graphics board or video card) are required for DirectX 12 API.

----------------------------------------------------------------------
Created on: 2026-08-03 20:16:52
Source: Fetched from Steam Web API
