SYSTEM REQUIREMENTS FOR: The Last of Us Part I
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10/11 64-bit (version 1909 or higher)Processor: Intel Core i3-8100, AMD Ryzen 3 1300XMemory: 16 GB RAMGraphics: NVIDIA GeForce GTX 1650, AMD Radeon RX 5500XTStorage: 150 GB available spaceAdditional Notes: SSD Required

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10/11 64-bit (version 1909 or higher)Processor: Intel Core i5-8600, AMD Ryzen 5 3600Memory: 16 GB RAMGraphics: NVIDIA GeForce RTX 3060, AMD Radeon RX 5700Storage: 150 GB available spaceAdditional Notes: SSD Required

----------------------------------------------------------------------
Created on: 2026-08-03 20:24:15
Source: Fetched from Steam Web API
