SYSTEM REQUIREMENTS FOR: Just Cause 2
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:					OS *: Microsoft Windows Vista (Windows XP is unsupported)						Processor: Dual-core CPU with SSE3 (Athlon 64 X2 4200 / Pentium D 3GHz)						Memory: 2GB System Memory						Hard Drive: 10GB of free drive space						Graphics: DX10 compatible graphics card with 256 MB of memory					(Nvidia GeForce 8800 series/ ATI Radeon HD 2600 Pro)						Sound: 100% DirectX 10 compatible sound card						DirectX®: Microsoft DirectX 10

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:					OS *: Microsoft Windows Vista SP1 or Windows 7						Processor: Intel Core® 2 Duo 2.6 GHz or AMD Phenom X3 2.4GHz or equivalen						Memory: 3GB system Memory						Hard Drive: 						Graphics: DX10 compatible graphics card with 512 MB of memory					(Nvidia GeForce GTS 250 series/ ATI Radeon HD 5750 series) 						Sound: 100% DirectX 10 compatible Dolby Digital 5.1 sound card						DirectX®: Microsoft DirectX 10.1

----------------------------------------------------------------------
Created on: 2026-08-03 20:20:15
Source: Fetched from Steam Web API
