SYSTEM REQUIREMENTS FOR: Deathmatch Classic
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended: 800 mhz processor, 128mb ram, 32mb+ video card, Windows XP, Mouse, Keyboard, Internet Connection

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
System requirements not available.

----------------------------------------------------------------------
Created on: 2026-08-03 20:17:42
Source: Fetched from Steam Web API
