SYSTEM REQUIREMENTS FOR: Assassins Creed IV Black Flag
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows 10 (64 bit only), Windows 11Processor: Intel Core i7-8700K 3.7 GHz, AMD Ryzen 5 3600 3.6 GHzMemory: 16 GB RAMGraphics: NVIDIA GeForce GTX 1660 (6GB), AMD Radeon RX5500XT (8GB) or Intel ARC A580 (8GB)DirectX: Version 12Storage: 65  GB available spaceAdditional Notes: The game must be installed on a SSD.

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows 10 (64 bit only), Windows 11Processor: Intel Core i5-10600K 4.1 GHz, AMD Ryzen 5 3600 3.6 GHzMemory: 16 GB RAMGraphics: NVIDIA GeForce RTX 3060 (12GB),AMD Radeon RX6600XT (8GB), or Intel ARC B580 (12GB)DirectX: Version 12Storage: 65 GB available spaceAdditional Notes: The game must be installed on a SSD.

----------------------------------------------------------------------
Created on: 2026-08-03 20:15:48
Source: Fetched from Steam Web API
