SYSTEM REQUIREMENTS FOR: Crusader Kings III
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:Requires a 64-bit processor and operating systemOS: Windows® 10 Home 64 bitProcessor: Intel Core i5-750 | AMD FX 4300Memory: 8 GB RAMGraphics: NVIDIA GeForce GTX 660 | AMD Radeon HD 7870 | Intel Arc A310 | Intel Iris Plus G7 | AMD Radeon Vega 11Storage: 20 GB available space

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:Requires a 64-bit processor and operating systemOS: Windows® 10 Home 64 bit or Windows® 11Processor: Intel Core i5-8400 | AMD Ryzen 5 1600XMemory: 16 GB RAMGraphics: NVIDIA GeForce GTX 970 | AMD Radeon RX 480 | Intel Arc A580Storage: 20 GB available space

----------------------------------------------------------------------
Created on: 2026-08-03 20:17:09
Source: Fetched from Steam Web API
