SYSTEM REQUIREMENTS FOR: Dragon Age Origins
======================================================================

MINIMUM REQUIREMENTS:
----------------------------------------------------------------------
CPU: Minimum:								OS *: Windows XP (SP3) or Windows Vista (SP1) or Windows 7									Processor: Intel Core 2 Single 1.6 Ghz Processor (or equivalent) or AMD 64 2.0 GHz Processor (or equivalent)									Memory: 1GB (1.5 GB Vista and Windows 7)									Graphics: ATI Radeon X850 256MB or NVIDIA GeForce 6600 GT 128MB or greater (Windows Vista: Radeon X1550 256 MB or NVidia GeForce 7600GT 256MB)									DirectX®: DirectX (November 2007)									Hard Drive: 20 GB HD space									Sound: Direct X Compatible Sound Card

RECOMMENDED REQUIREMENTS:
----------------------------------------------------------------------
CPU: Recommended:								OS *: Windows XP (SP3) or Windows Vista (SP1) or Windows 7									Processor: Intel Core 2 Duo 2.4 Ghz or AMD Phenom II X2 Dual-Core 2.7 Ghz Processor or equivalent									Memory: 2 GB (3GB Vista and Windows 7)									Graphics: ATI 3850 512 MB or NVidia 8800GTS 512MB or greater									DirectX®: DirectX (November 2007)									Hard Drive: 20 GB HD space									Sound: Direct X Compatible Sound Card

----------------------------------------------------------------------
Created on: 2026-08-03 20:18:03
Source: Fetched from Steam Web API
